
<table>
<% @emotions.each do |emotion| %>
  <tr>
    <td><%= link_to image_tag(emotion.emotion_type.downcase + '.png', size: '64x64', alt: 'I am angry!') + 
	emotion.emotion_type,
	posts_path(emotion: emotion.id), rel: "external" %>
        <%= link_to image_tag("pen.png", size: "32x32", alt: 'write something about this'), 
	    new_post_path, rel: "external" %>
      
    </td>
  </tr>
  <tr>
    <td>
        <% if @each_sum[emotion.id] != nil %>
        <%= @each_sum[emotion.id]  %> ,
        <%= @each_sum[emotion.id]/@total_sum%>
        <% else %>
        <%= 0 %> ,
        <%= 0 %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Emotion', new_emotion_path %>
