<p id="notice"><%= notice %></p>

<ul data-role="listview">
<% @user_themes.each do |theme|%>
  <li id=<%= "theme" %>>
      <%= image_tag('#', :class => "ui-li-icon") %>
      <%= link_to theme.title, theme_path(theme.id), { remote: true }  %> 
  </li>
<% end %>
</ul>

<div id="bubble_chart" style="width: 70%; height: 40%;"></div>


<%= link_to 'show chart', theme_path(1), { remote: true} %>
<div id="data_chart">
</div>
