<%= form_for(@post, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.select 'theme_id', current_user.themes.collect { |t| [ t.title, t.id] } %>
  <%= link_to 'New theme', new_theme_path %><br />
  
  <%= f.select 'emotion_id', all_emotions.collect { |e| [ e.emotion_type, e.id] } %><br />
  
  <%= f.text_field :title, :placeholder => 'Title' %><br />
  
  <%= f.text_field :body, :placeholder => 'Enter your story' %><br />
  
  <%= f.label :photo %>
  <%= f.file_field :photo %><br />
    
  <div class='control-group'>
    <%= f.submit %>
  </div>
  
<% end %>
