<%= form_for(@post, :html => { :multipart => true, "data-ajax" => false }) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.select 'theme_id', current_user.themes.collect { |t| [ t.title, t.id] } %>
  <%= link_to 'New theme', new_theme_path(emotion: params[:emotion]) %><br />
  <hr> 
  <%= f.select 'emotion_id', all_emotions.collect { |e| [ e.emotion_type, e.id] }, selected: params[:emotion] %><br />
  
  <%= f.text_field :title, :placeholder => 'Title' %><br />
  
  <%= f.text_field :body, :placeholder => 'Enter your story' %><br />
  
  <%= f.label :photo %>
  <%= f.file_field :photo %><br />
    
  <div class='control-group'>
    <%= f.submit %>
  </div>
  
<% end %>
