
<div>
  <b>Theme:</b>
  <%#= Theme.find(@post.theme_id).title %>
</div>

<div>
  <b>Emotion:</b>
  <%= Emotion.find(@post.emotion_id).emotion_type %>
</div>
<div>
  <%= link_to image_tag(@post.photo.url + @post.title), edit_post_path(@post) %>
</div>

<div>
  <b>Body:</b>
  <%= @post.body %>
</div>

<div>
  <%= render partial: "/comments/comments" %>
</div>
<hr>
<p><%= link_to 'Add Comment', new_comment_path(post_id: @post) %></p>
