<!DOCTYPE html>
<html>
<head>
  <title>Alto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "highcharts-more" %>
  <%= csrf_meta_tags %>
</head>
  <div data-role='page'>
    
    <div data-role="header">
      <%= render 'layouts/header' %>
    </div><!-- /header -->
    
    <div data-role="content">
      <p>Hello world</p>
    </div><!-- /content -->
    
    <!-- <div data-role="footer">
          <h4>My Footer</h4>
        </div> -->
    <!-- /footer -->
  </div>

<body>

<%= yield %>

</body>
</html>
